mixin reviewCard(tourReview)
  .reviews__card
    .reviews__avatar
      img.reviews__avatar-img(src=`/img/users/${tourReview.user.photo}`, alt=`${tourReview.user.name}`)
      h6.reviews__user= tourReview.user.name
    p.reviews__text= tourReview.review
    .reviews__rating
     each star in [1,2,3,4,5]
      svg.reviews__star(class=`reviews__star--${tourReview.rating>=star ? 'active' :'inactive'}`)
        use(xlink:href='/img/icons.svg#icon-star')